
// Font Styles
$title-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$content-font: $title-font;

// Graph Font
$graph-font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$graph-color: #333;

//Colours

//Set 1
// $primary: #2c3531;
// $secondary: #116466;
// $tercary: #d9b08c;
// $quaternary: #ffcb9a;
// $quininary: #d1e8e2;

//Set 2
$primary: #18121E;
$secondary: #233237;
$tercary: #984b43;
$quaternary: #eac67a;
$quininary: #d1e8e2;

//Header Variables
$header-background-colour: #00846e;
$header-text-colour: black;
$header-border-colour: black;

//Body Variables
$body-background-color: #d1e8e2;
