<div class="about">
    <div class="pimg1">
      <div class="header">
        <span class="title">
          YouStats
        </span>
      </div>
    </div>

    <section class="section section-light">
        <div class="section-center">
            <h2 class="goalTitle">Our Goal</h2>
            <p class="goal">
                YouStats has one goal; to make factual data accessible to all. Humanity is skilled at using statistics in a way that twists reality. For example, in 2010 16% of the world was in extreme poverty.<a href="https://ourworldindata.org/extreme-poverty" data-toggle="tooltip" data-placement="bottom" title="Our World In Data, 2017">*</a>
                1 in 7 had little access to food, housing, clothing, and clean water. This could be used to show how broken humanity is, that we ignore those in need. However, the data shows the opposite. In 1980, 44% of the world was in extreme poverty, and in 2015 less than 10%. In 35 years we’ve reduced extreme poverty by almost 35%, imagine what we can do with 35 more. Knowing the full picture of data is the only way to understand it, and that is our goal; to make data accessible to everyone.
            </p>
        </div>
    </section>

    <div class="pimg2">
      <div class="ptext">
        <div class="border trans langPic center">
          <p>
              Data is a Language
          </p>
        </div>
      </div>
    </div>

    <section class="section section-dark">
        <div class="section-center">
            <h2 class="langTitle">The Language of Data</h2>
            <p class="lang">
                Data is a language few people understand. Fortunately, data can be translated into a language spoken and understood by everyone. The word “Tree” will make an English speaker think of a tall woody plant. Say the word “Tree” to a Chinese speaker, and they would most likely not think of a tree. However, show an image of a tree to anyone and they will know it is a tree, no matter what language they speak. Images are a language understood by all. YouStats will take complex data and translate it into easy to use, meaningful graphics, making data accessible to everyone.
            </p>
        </div>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <div class="border trans langPic center">
          <p> For the UK
          </p>
        </div>
      </div>
    </div>

    <section class="section section-dark">
        <div class="section-center">
            <h2 class="homeTitle">Britain is our Home</h2>
            <p class="home">
                YouStats is a British start-up, focussed on improving the lives of everyone in the world. Our first stop is our home. We want to tell the stories of NHS funding, crime, education, GDP and more. We aim to help everyone understand the state of our country, and how it has changed over the years. We want to bring visibility to what our government has done and is doing so that we can make better choices for the future. We want to make our home a better place.
            </p>
        </div>
    </section>
</div>
